
           <div class='box'>
  </div>

<div class="grid_index">
  <% @events.each do |event|%>
  <div class="grid_index_data">
    <%= link_to event_path(event) do %>
      <%= image_tag "/assets/#{event.image_url}", class: 'event_image' %>
      <h4><%= event.name %></h4>
    <% end %>
  </div>
  <%end%>
</div>

