
<h1><%= @event.name %></h1>
<div class="show_image"><%= image_tag "/assets/#{@event.image_url}" %></div>
<h2><%= @event.description %></h2>

<h2><%= link_to "add to my appointments", user_path(current_user) %></h2>

</div>
