
<div class='box'>
  </div>
<j1><%= @event.name %></j1> <br><br>

<j4>Going to this event?</j4> <br>
<j2>  Mark it as one of your appointments. </j2><br><br>
<% @appointment %>
<%= link_to "add appointment", user_path(current_user) %><br>
