<div class='box'>
  </div>
<j1><%= @sight.name %></j1>
<%= image_tag "/assets/#{@sight.image_url}" %>
<j2><%= @sight.description %></j2><br><br>


<%= link_to 'add this sight to your favorites', user_path(current_user) %>
