
<h1><%= @sight.name %></h1>
<div><%= image_tag "/assets/#{@sight.image_url}", class: "show_image" %></div>
<h2><%= @sight.description %></h2>


<h2><%= link_to 'add this sight to your favorites', user_path(current_user) %></h2>
