<!doctype html>
<html>
  <body>
    <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <%= image_tag "high line logo.png" %>
    </div>
    <div class="flip-card-back">

      <a><%= button_to "Login", login_path, method: :get %></a>
      <%= link_to "create new user", new_user_path %>

    </div>
  </div>
</div>
<div>
  <%= image_tag "10 ave square.png" %>

</div>

  </body>
</html>
