/* font-family: 'Ultra', serif; */
/* font-family: 'Barlow', sans-serif; */
/* font-family: 'Ultra', serif;
font-family: 'Barlow', sans-serif;
font-family: 'Six Caps', sans-serif;
font-family: 'Lekton', sans-serif;
font-family: 'Playfair Display', serif; */

.box_users {
  width: 600px;
  height: 655px;
  margin-right: 50px;
  float: left;
  display: flex;
  padding-bottom: 200px;
  padding-right: 50px;
}

.box {
  height: 20px;
}

.header {
color: gray;
font-size: .5 em;
 }

 .wrapper {
   height: 100%;
   width: 100%;
   padding: 20px;
   text-align: center;
 }

 .ui grid {
   margin-top: 50px;
 }

 h1 {
   color: gray;
   font-family: 'Lekton', sans-serif;
   font-size: .5 em;
 }

 j1 {

   font-family: 'Ultra', serif;

   font-size: 30px;
   color: grey

 }
j2{
  color:black;
  font-family: 'Lekton', sans-serif;
  font-size: 1.5em;
  line-height: 1.2;


}
 j3 {

   font-family: 'Ultra', serif;
   font-size: 70px;
   color: grey

 }
 j4 {
   font-family: sans-serif;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 5px;
 }

 .user_info {
   margin: 50px;
 }
 hr {

 }

 p {
   font-family: sans-serif;
   font-size: 1 em;
 }


a:link   a:visited
 {
   background-color: white;
   color:  gray !important;
   /* padding: 20px ; */
   margin: 40px 10px 10px 10px;

   /* text-align: center; */
   text-decoration: none;
   border-style: none;
  font-family: sans-serif;
  font-size: 20px ;
   display: inline-block;
   text-transform: uppercase !important;
   letter-spacing: 10px ;
   line-height: 175% ;


 }

 a:hover, a:active {
   color:  red !important;
 }


 .row {
   display: flex;
 }

 .column {
   flex: 33.33%;
   padding: 5px;
 }

 .grid_index {
   display: grid;
   display-template-columns: 30% 30% 30% 30% 30%;
   display-template-rows: 30% 30% 30% 30% 30%;
 }
 /************ sights ************/
 .image-gallery {
   display: grid;

 height: 100px;
 width: 100px
 grid-template-columns: minmax(100px, 1fr);
   /* grid-template-rows: repeat(3, 1fr); */
   grid-gap: 10px;
 }
 }
 .header {
   height: 400px;
   background-image: url('./images/background.png');
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }


 .simple_form div.input {
   margin-bottom: 10px;
   clear: both; /* Required for Webkit, but not for Gecko */
 }

 .simple_form label {
   float: left;
   width: 100px;
   text-align: right;
   margin: 2px 10px;
 }


 .field_with_errors {
   background-color: #ff3333;
 }

 .simple_form .error {
   clear: left;
   color: black;
   display: block;
   margin-left: 120px;
 }

 .simple_form .hint {
   clear: left;
   margin-left: 120px;
   color: #555;
   display: block;
   font-style: italic;
 }
 .ui secondary pointing menu .item {

 }

 .grid_index {
   height:100%;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr;
 }

.grid_index_large {
  height:100%;
  width:80%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

 .grid_index_data {
   text-align: center;
   padding-bottom: 20%;
 }

 .sight_image {
   width:80%;
   height:80%;
 }

 .sight_fund_image {
   width:80%;
   height:20%;
   object-fit: contain;
 }

.event_image {
  width:80%;
  height:80%;
  object-fit: contain;
}

.show_image {
  height: 60%;
  width: 80%;
  object-fit: contain;
}
