.header {
color: gray;
font-size: .5 em;
 }

 h1 {
   color: gray;
   font-family: sans-serif;
   font-size: .5 em;
 }

 h4 {

   color:gray;
   font-family: sans-serif;
 }

 h3 {
   color:gray;
   font-family: sans-serif;

 }

 p {
   font-family: sans-serif;
   font-size: 1 em;
 }

 a:link, a:visited {
   background-color: white;
   color:  gray;
   /* padding: 20px ; */
   margin: 40px 10px 10px 10px;

   /* text-align: center; */
   text-decoration: none;
   border-style: none;
  font-family: sans-serif;
  font-size: 20px;
   display: inline-block;
   text-transform: uppercase;
   letter-spacing: 10px;
   line-height: 175%;


 }

 a:hover, a:active {
   color:  red;
 }

 button {
  padding: 15px;
}

button a {
  text-decoration: none;
  font-size: 20px;
  color: green;
}

 .row {
   display: flex;
 }

 .column {
   flex: 33.33%;
   padding: 5px;
 }
