a:link, a:visited {
  background-color: white;
  color:  gray;
  /* padding: 20px ; */
  margin: 40px 10px 10px 10px;

  /* text-align: center; */
  text-decoration: none;
  border-style: none;
 font-family: sans-serif;
 font-size: 20px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 175%;


}

a:hover, a:active {
  color:  red;
}
