// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// 
// .image-gallery {
//   display: grid;
//
// height: 100px;
// width: 100px
// grid-template-columns: minmax(100px, 1fr);
//   /* grid-template-rows: repeat(3, 1fr); */
//   grid-gap: 10px;
// }
// }
// .header {
//   height: 400px;
//   background-image: url('./images/background.png');
//   background-size: cover;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
// }

// .form .simple_form{
//   margin: 40px;
// }
// .simple_form {
//   margin: 20px;
// }


//   border: 5px;
//
// 	width: 1280px;
//

// 	position: fixed;
//   top: 4%;
//   left: 50%;
// transform: translate(-50%, -50%);
// 	z-index: 2;
}



.field_with_errors {
  background-color: #ff3333;
}

.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 120px;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  color: #555;
  display: block;
  font-style: italic;
}
.ui secondary pointing menu .item {

}

.grid_index {
  display: grid;
  display-template-columns: 30% 30% 30% 30% 30%;
  display-template-rows: 30% 30% 30% 30% 30%;
}

.grid_index_data {
  width: 100%;
}
