
<h4> Projects in Progress </h4>
<ul>
  <% @sight_funds.each do |sight_fund| %>
    <li> <%= link_to sight_fund.sight.name, sight_fund %> -
    <%= sight_fund.sight.name %> Construction Project </li>
  <% end %>
</ul>
